<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Configuración general -->
  <targets>
    <!-- Log en archivo -->
    <target xsi:type="File" name="fileLogger" fileName="C:/Logs/TalycapGlobal/clientes-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

    <!-- Log en consola -->
    <target xsi:type="Console" name="consoleLogger"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />
  </targets>

  <rules>
    <!-- Todos los logs de nivel Info o superior van a archivo -->
    <logger name="*" minlevel="Info" writeTo="fileLogger" />
    <!-- Todos los logs de nivel Debug o superior van a consola -->
    <logger name="*" minlevel="Debug" writeTo="consoleLogger" />
  </rules>
</nlog>